node_modules
.idea
.vscode
.git


#git ÃüÁî
cd vue-cms

git add .

git commit -m "..."

git remote add origin https://github.com/Yozoracyx/vue-cms.git

git pull origin master 

git push -u origin master